* {
  border: 1px solid red;
}

button {
  background-color: transparent;
}
button:hover {
  opacity: 0.8;
}

/* LAYOUT */
body {
  width: 160vh;
  height: 100vh;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
}
#field {
  width: 70%;
  background-color: rgb(84, 145, 92);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 10vh);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#data {
  width: 30%;
  height: 100%;
  background-color: rgb(20, 88, 88);
}
#hand {
  background-color: rgb(165, 168, 75);
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Layout field */
.PlayerHero {
  grid-area: 5 / 3 / 7 / 6;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.PlayerImg {
  height: 20vh;
  vertical-align: bottom;
}
.PlayerHP {
  grid-area: 5 / 5 / 6 / 6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.PlayerHP img {
  height: 3vh;
}
.PlayerATK {
  grid-area: 5 / 3 / 6 / 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.PlayerATK img {
  height: 3vh;
  width: 3vh;
}
.FieldMinion {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MinionStat {
  display: flex;
  justify-content: space-around;
  font-size: 1vh;
}
.MinionStat img {
  height: 1vh;
}
.MinionImg {
  height: 6vh;
}
#Minion0 {
  grid-area: 3 / 4 / 4 / 5;
}
#Minion1 {
  grid-area: 4 / 2 / 5 / 3;
}
#Minion2 {
  grid-area: 4 / 6 / 5 / 7;
}
#Minion3 {
  grid-area: 5 / 1 / 6 / 2;
}
#Minion4 {
  grid-area: 5 / 7 / 6 / 8;
}
#MonsterField {
  grid-area: 1 / 1 / 3 / 8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Monster {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MonsterImg {
  height: 12vh;
}
.MonsterStat {
  display: flex;
  justify-content: space-around;
  font-size: 3vh;
}
.MonsterStat img {
  height: 5vh;
}
/* Layout Hand */
#hand button {
  border: 3px solid black;
  border-radius: 5px;
  height: 30vh;
  width: 20vh;display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SpellCard {
  background-color: rgb(17, 0, 255);
}
.MinionCard {
  background-color: green;
}
.UsedCard {
  background-color: rgb(178, 178, 178);
}

.CardName {
  font-weight: bold;
  font-size: 2vh;
  line-height: 2vh;
}
.CardStat {
  display: flex;
  justify-content: space-around;
  font-size: 5vh;
}
.CardStat img {
  height: 5vh;
}
.CardPicture {
  grid-area: 2 / 2 / 3 / 6;
}
.CardImg {
  height: 14vh;
}
