body {
  background-image: url("./assets/backgroundPannel.png");
  height: 100svh;
  width: 100svw;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 131, 131, 0.428);
  display: none;
  z-index: 60;
}

#start-screen {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.start-screen-btn {
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
}
.start-screen-btn:hover {
  opacity: 0.8;
}
#start-game {
  background-color: blue;
}
#tutorial {
  background-color: pink;
}

#deck-div,
#discard-div {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
#deck-div .card,
#discard-div .card {
  width: 20%;
  aspect-ratio: 1;
  margin: 2%;
}
.overlay-cancel {
  position: fixed;
  right: 2%;
  top: 0%;
  width: 10%;
}
.overlay-cancel:hover {
  opacity: 0.8;
}
#start-screen {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.start-screen-btn {
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-screen-btn:hover {
  opacity: 0.8;
}
#start-game {
  background-color: blue;
}
#tutorial {
  background-color: pink;
}

#field-pannel {
  height: 80vh;
  width: 100%;
  display: flex;
}
.field {
  background-image: url("./assets/backgroundField.png");
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 75%;
  border-radius: 2%;
}
#monster-container {
  grid-area: 1 / 1 / 4 / 13;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline;
  width: 100%;
}
.monster.unit {
  width: 18%;
}
#blocker-1 {
  grid-area: 5 / 3 / 7 / 5;
}
#blocker-0 {
  grid-area: 5 / 6 / 7 / 8;
}
#blocker-2 {
  grid-area: 5 / 9 / 7 / 11;
}
#blocker-3 {
  grid-area: 8 / 1 / 10 / 3;
}
#blocker-4 {
  grid-area: 8 / 11 / 10 / 13;
}
.blocker-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#hero-container {
  grid-area: 8 / 5 / 11 / 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#pannel {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-weight: bold;
}
#deck-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}
#deck-container div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  font-size: 200%;
  text-align: center;
}
#deck-btn {
  background-color: maroon;
}
#discard-btn {
  background-color: rgb(40, 153, 159);
}

#button-container {
  display: flex;
  height: 20%;
}
.btn {
  width: 50%;
}
.btn:hover {
  animation-name: Bounce;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

#hand {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20vh;
}

#tooltip {
  visibility: hidden;
  position: absolute;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.64);
  z-index: 100;
  padding: 10px;
  font-weight: bold;
}

#dialog-div{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  border: 10px solid green;
  background-color: rgba(172, 255, 47, 0.722);
  border-radius: 10px;
  font-size: 200%;
  text-align: center;
  text-justify:inter-word ;
}